body {
    color: #CCFFCC;
    font-family: 'Piedra', cursive;
    background: #0099CC;
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}


h1 {
    font-size: 55px;
    color: #003399;
    font-family: 'Indie Flower', cursive;
}

span {
    color: white;
}

::-webkit-input-placeholder {
    color: #711;
}

#main div {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#input {
    padding: 10px;
    text-align: center;
    border: 3px solid #421;
    width: 80%;
}

@media (max-width: 475px) {
    body {
        flex-direction: column;
    }

    .puppy-pic img {
        width: 90%;
    }
}